:root {
    --primary: #5096F1;
    --secondary: #52D858;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
    padding-left: 10px;
    background-image: url('css/images/background.png');
}

#titulo {
    text-align: center;
}

.ctrltskbtn {
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 35px;
    border-radius: 5%;
    font-size: 18px;
    background-color: var(--secondary);
    color: var(--light);
}